@import '~antd/dist/antd.css';
@import './overview/style.scss';
@import './editor/css/style.scss';
@import './toolbar/css/style.scss';

html,body{
    font-family:'Inconsolata, monospace';
    font-size:18px;
    .markdown{
        display: flex;
    }
}