div.edit-area{
    text-align: center;
    padding:120px 0;
    textarea{
        font-size:20px;
        min-height: 500px;
        background-color: transparent;
        color : #424242;
        line-height: 1.5;
        overflow-x:hidden; 
        outline:none;
        border:none;
        width: 800px;
    }

}